In [ ]:
            predicted loss     predicted win

actual loss   TN                 FP


actual win    FN                 TP

In [ ]:
predicted    actual
0              0            TN

0              1            FN

1              0            FP

1              1            TP

# Task-1

In [35]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier

df = pd.read_csv("PlayTennis.csv")
df.head()

    outlook  temp humidity  windy play
0     sunny   hot     high  False   no
1     sunny   hot     high   True   no
2  overcast   hot     high  False  yes
3     rainy  mild     high  False  yes
4     rainy  cool   normal  False  yes

In [36]:
df=pd.get_dummies(data=df,drop_first=True)
df.head()

,windy,outlook_rainy,outlook_sunny,temp_hot,temp_mild,humidity_normal,play_yes
0,False,0,1,1,0,0,0
1,True,0,1,1,0,0,0
2,False,0,0,1,0,0,1
3,False,1,0,0,1,0,1
4,False,1,0,0,0,1,1

In [37]:
y=df["play_yes"]
x=df.drop('play_yes',axis=1)

In [38]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2,random_state=2)

In [39]:
nn = KNeighborsClassifier(n_neighbors=3)

In [40]:
model = nn.fit(x_train, y_train)
prediction = model.predict(x_test)
prediction

array([1, 1, 1], dtype=uint8)

In [41]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, prediction)
cm

array([[0, 1],
       [0, 2]], dtype=int64)

In [42]:
TN = cm[0][0]
FP = cm[0][1]
FN = cm[1][0]
TP = cm[1][1]
print(TP, FN, TN, FP)

2 0 0 1

In [43]:
accuracy = (TP + TN) / (TP+FP+FN+TN)
accuracy

0.6666666666666666

In [44]:
print("error rate= ",1-accuracy)

error rate=  0.33333333333333337

In [45]:
sensitivity = TP / (TP + FN)
sensitivity

1.0

In [46]:
specificity = TN / (TN + FP)
specificity

0.0

In [47]:
# rainy , cool , high , windy
x.columns

Index(['windy', 'outlook_rainy', 'outlook_sunny', 'temp_hot', 'temp_mild',
       'humidity_normal'],
      dtype='object')

In [48]:
p=model.predict([[True,1,0,0,0,0]])
p

array([1], dtype=uint8)

# Task-2

In [79]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import classification_report

df = pd.read_csv("titanic.csv")
df.head()

,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,survived
0,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,1
1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,1
2,1,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,0
3,1,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,0
4,1,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,0

In [80]:
df.drop(['name','ticket','cabin'],axis=1,inplace=True)

In [81]:
df.isna().sum()

pclass        0
sex           0
age         263
sibsp         0
parch         0
fare          1
embarked      2
survived      0
dtype: int64

In [82]:
df.dropna(inplace=True)

In [83]:
df=pd.get_dummies(data=df,drop_first=True)
df.head()

,pclass,age,sibsp,parch,fare,survived,sex_male,embarked_Q,embarked_S
0,1,29.0000,0,0,211.3375,1,0,0,1
1,1,0.9167,1,2,151.5500,1,1,0,1
2,1,2.0000,1,2,151.5500,0,0,0,1
3,1,30.0000,1,2,151.5500,0,1,0,1
4,1,25.0000,1,2,151.5500,0,0,0,1

In [84]:
y=df["survived"]
x=df.drop('survived',axis=1)

In [85]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2,random_state=2)

In [86]:
nn = KNeighborsClassifier(n_neighbors=33)

In [87]:
model = nn.fit(x_train, y_train)
prediction = model.predict(x_test)
prediction

array([0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0,
       1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0,
       1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0], dtype=int64)

In [88]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, prediction)
cm

array([[104,  20],
       [ 52,  33]], dtype=int64)

In [89]:
TN = cm[0][0]
FP = cm[0][1]
FN = cm[1][0]
TP = cm[1][1]
print(TP, FN, TN, FP)

33 52 104 20

In [90]:
accuracy = (TP + TN) / (TP+FP+FN+TN)
accuracy

0.6555023923444976

In [91]:
print("error rate= ",1-accuracy)

error rate=  0.3444976076555024

In [92]:
sensitivity = TP / (TP + FN)
sensitivity

0.38823529411764707

In [93]:
specificity = TN / (TN + FP)
specificity

0.8387096774193549

In [96]:
class_report = classification_report(y_test,prediction)
print(class_report)

              precision    recall  f1-score   support

           0       0.67      0.84      0.74       124
           1       0.62      0.39      0.48        85

    accuracy                           0.66       209
   macro avg       0.64      0.61      0.61       209
weighted avg       0.65      0.66      0.64       209

# 6-Marks M.Imp Program

In [97]:
actual = ["CAT","CAT","CAT","DOG","CAT","DOG","CAT","DOG","DOG","CAT"]
predicted = ["DOG","DOG","CAT","CAT","CAT","DOG","CAT","DOG","DOG","CAT"]

In [101]:
# case-1 cat is positive
FN
FN
TP
FP
TP
TN
TP
TN
TN
TP

TP=4
TN=3
FP=1
FN=2

In [102]:
accuracy = (TP + TN) / (TP+FP+FN+TN)
accuracy

0.6555023923444976

In [103]:
print("error rate= ",1-accuracy)

error rate=  0.3444976076555024

In [104]:
sensitivity = TP / (TP + FN)
sensitivity

0.38823529411764707

In [105]:
specificity = TN / (TN + FP)
specificity

0.8387096774193549

In [106]:
# case-2 dog is positive
FP
FP
TN
FN
TN
TP
TN
TP
TP
TN

TP=3
TN=4
FP=2
FN=1

In [107]:
specificity = TN / (TN + FP)
specificity

0.6666666666666666

In [108]:
print("error rate= ",1-accuracy)

error rate=  0.3444976076555024

In [109]:
sensitivity = TP / (TP + FN)
sensitivity

0.75

In [110]:
specificity = TN / (TN + FP)
specificity

0.6666666666666666

# Task-3

In [112]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import classification_report

df = pd.read_csv("churn.csv")
df.head()

,Unnamed: 0,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50,No
2,2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [113]:
df.isna().sum()

Unnamed: 0           0
customerID           0
gender               0
SeniorCitizen        0
Partner              0
Dependents           0
tenure               0
PhoneService         0
MultipleLines        0
InternetService      0
OnlineSecurity       0
OnlineBackup         0
DeviceProtection     0
TechSupport          0
StreamingTV          0
StreamingMovies      0
Contract             0
PaperlessBilling     0
PaymentMethod        0
MonthlyCharges       0
TotalCharges        11
Churn                0
dtype: int64

In [116]:
df=df.fillna(df["TotalCharges"].mean())

In [118]:
df.drop(["customerID","Unnamed: 0"],axis=1,inplace=True)

In [119]:
df=pd.get_dummies(data=df,drop_first=True)
df.head()

,SeniorCitizen,tenure,MonthlyCharges,TotalCharges,gender_Male,Partner_Yes,Dependents_Yes,PhoneService_Yes,MultipleLines_No phone service,MultipleLines_Yes,...,StreamingTV_Yes,StreamingMovies_No internet service,StreamingMovies_Yes,Contract_One year,Contract_Two year,PaperlessBilling_Yes,PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,Churn_Yes
0,0,1,29.85,29.85,0,1,0,0,1,0,...,0,0,0,0,0,1,0,1,0,0
1,0,34,56.95,1889.50,1,0,0,1,0,0,...,0,0,0,1,0,0,0,0,1,0
2,0,2,53.85,108.15,1,0,0,1,0,0,...,0,0,0,0,0,1,0,0,1,1
3,0,45,42.30,1840.75,1,0,0,0,1,0,...,0,0,0,1,0,0,0,0,0,0
4,0,2,70.70,151.65,0,0,0,1,0,0,...,0,0,0,0,0,1,0,1,0,1

In [121]:
y=df["Churn_Yes"]
x=df.drop('Churn_Yes',axis=1)

In [122]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2,random_state=2)

In [123]:
nn = KNeighborsClassifier(n_neighbors=5)

In [124]:
model = nn.fit(x_train, y_train)
prediction = model.predict(x_test)
prediction

array([0, 0, 0, ..., 1, 0, 0], dtype=uint8)

In [125]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, prediction)
cm

array([[940, 121],
       [196, 152]], dtype=int64)

In [126]:
TN = cm[0][0]
FP = cm[0][1]
FN = cm[1][0]
TP = cm[1][1]
print(TP, FN, TN, FP)

152 196 940 121

In [127]:
accuracy = (TP + TN) / (TP+FP+FN+TN)
accuracy

0.7750177430801988

In [128]:
print("error rate= ",1-accuracy)

error rate=  0.22498225691980123

In [129]:
sensitivity = TP / (TP + FN)
sensitivity

0.4367816091954023

In [130]:
specificity = TN / (TN + FP)
specificity

0.885956644674835