# Machine Learning

Feature Construction

In [4]:
import pandas as pd

room_length = [18,20,10,12,18,11]
room_breath = [20,20,10,11,19,10]
room_type =   ['Big','Big','Normal','Normal','Big','Normal']

data = {'Length':room_length,'Breath':room_breath,'Type':room_type}

df=pd.DataFrame(data)
df

   Length  Breath    Type
0      18      20     Big
1      20      20     Big
2      10      10  Normal
3      12      11  Normal
4      18      19     Big
5      11      10  Normal

In [5]:
df["Area"]=df['Length']*df['Breath']

In [6]:
df

   Length  Breath    Type  Area
0      18      20     Big   360
1      20      20     Big   400
2      10      10  Normal   100
3      12      11  Normal   132
4      18      19     Big   342
5      11      10  Normal   110

In [10]:
age = [18,20,23,19,18,22]
city = ['A','B','B','A','C','B']
df = pd.DataFrame({'age':age,'city':city})
df

   age city
0   18    A
1   20    B
2   23    B
3   19    A
4   18    C
5   22    B

In [11]:
df = pd.get_dummies(data=df,drop_first=True)
df

   age  city_B  city_C
0   18   False   False
1   20    True   False
2   23    True   False
3   19   False   False
4   18   False    True
5   22    True   False

# Transforming numeric features into categorical features.

In [13]:
import numpy as np
area = [4720, 2430, 4368, 3969, 6142, 7912]
price = [2360000,1215000,2184000,1984500,3071000,3956000]

df = pd.DataFrame({'Area':area, 'Price':price})
df

   Area    Price
0  4720  2360000
1  2430  1215000
2  4368  2184000
3  3969  1984500
4  6142  3071000
5  7912  3956000

In [15]:
df['Price'] = np.where(df['Price']>3000000 , 'High',np.where( df['Price']<2000000,'Low','Medium'))
df

   Area   Price
0  4720  Medium
1  2430     Low
2  4368  Medium
3  3969     Low
4  6142    High
5  7912    High

In [17]:
df = pd.get_dummies(data=df,drop_first=True)
df

   Area  Price_Low  Price_Medium
0  4720      False          True
1  2430       True         False
2  4368      False          True
3  3969       True         False
4  6142      False         False
5  7912      False         False

# Supervised Learning Process

(1)  Define Problem

(2) Collect and Prepare Data

(3) Data Pre Processing

(4) Feature Engineering

(5) Select a Model

(6) Split data for training and testing

(7) Train The Model

(8) Validate

(9) Iterate And Improve

(10) Deploy The Model

# Simple Linear Regression

In [24]:
import pandas as pd
import matplotlib.pyplot as plt
df = pd.read_csv("Book1.csv")
df.head()

   cgpa  package
0  6.89     3.26
1  5.12     1.98
2  7.82     3.25
3  7.42     3.67
4  6.94     3.57

In [18]:
df.isna().sum()

cgpa       0
package    0
dtype: int64

In [4]:
x=df[['cgpa']]
y=df[['package']]

In [5]:
x.shape

(200, 1)

In [6]:
y.shape

(200, 1)

In [26]:
from sklearn.model_selection import train_test_split
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size=0.2,random_state=2)

In [27]:
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(160, 1)
(40, 1)
(160, 1)
(40, 1)

In [29]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression()

AttributeError: module 'numpy' has no attribute 'float'.
`np.float` was a deprecated alias for the builtin `float`. To avoid this error in existing code, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
The aliases was originally deprecated in NumPy 1.20; for more details and guidance see the original release note at:
    https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

In [ ]:
lr.fit(x_train,y_train)

In [ ]:
m = lr.coef_
print(m)

In [ ]:
c = lr.intercept_
print(c)

In [ ]:
y1 = lr.predict([[8.58]])
print(y1)

In [ ]:
y_test

In [ ]:
y_pred = lr.predict(x_test)
print(y_pred)

In [ ]:
from sklearn.metrics import mean_squared_error
print(mean_squared_error(y_test, y_pred))

In [10]:
!pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\programdata\anaconda3\lib\site-packages (0.23.2)
Requirement already satisfied: scipy>=0.19.1 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn) (1.5.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn) (2.1.0)
Requirement already satisfied: joblib>=0.11 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn) (0.17.0)
Requirement already satisfied: numpy>=1.13.3 in c:\users\ljeng\appdata\roaming\python\python38\site-packages (from scikit-learn) (1.24.4)

In [19]:
!pip install --upgrade numpy
!pip install --upgrade scikit-learn

Requirement already up-to-date: numpy in c:\users\ljeng\appdata\roaming\python\python38\site-packages (1.24.4)
Collecting scikit-learn
  Using cached scikit_learn-1.3.2-cp38-cp38-win_amd64.whl (9.3 MB)
Collecting joblib>=1.1.1
  Using cached joblib-1.4.2-py3-none-any.whl (301 kB)
Requirement already satisfied, skipping upgrade: numpy<2.0,>=1.17.3 in c:\users\ljeng\appdata\roaming\python\python38\site-packages (from scikit-learn) (1.24.4)
Requirement already satisfied, skipping upgrade: scipy>=1.5.0 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn) (1.5.2)
Requirement already satisfied, skipping upgrade: threadpoolctl>=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn) (2.1.0)
Installing collected packages: joblib, scikit-learn
  Attempting uninstall: joblib
    Found existing installation: joblib 0.17.0
    Uninstalling joblib-0.17.0:

ERROR: Could not install packages due to an EnvironmentError: [WinError 5] Access is denied: 'c:\\programdata\\anaconda3\\lib\\site-packages\\joblib-0.17.0.dist-info\\direct_url.json'
Consider using the `--user` option or check the permissions.